*{
  box-sizing: border-box;
}


.App {
  background: #fffbd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;

}

.header{
  display:flex;
  align-items: flex-start;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 20px 32 px;
  text-align: left;
  border-bottom: 2px solid white;
}

.logo{
  height: 80px;
}

.text-input{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
}

.text-input input{
  width: calc(100% - 50px);
  height: 90%;
  font-size: 20px;
}

.text-input button{
  width: 50px;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.text-input button:hover{
  background: red;
  color: black;
}

